body{
    font-size: 85%;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

.content{
    overflow-y: auto;
    position: absolute;
    top: 0px;
    bottom: 61px;
    left: 0px;
    right: 290px;
    padding: 0px 10px 10px;
}

.sidebar{
    position: absolute;
    overflow-y: auto;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 270px;
}

.footerbar{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 290px;
    height: 60px;
    border: 1px solid black;
}

input[type=text], input[type=password], textarea, select, .highlighted, .inputmimic{
    background-color: #D7FFCE;
    border: 1px solid #BBB;
}

.inputmimic{
    width: 168px;
    margin: 0px 2px;
}

input.error, select.error, textfield.error{
    background-color: #FFA8B4;
    background-image: url('/static/common/images/toprightcorner.png');
    background-repeat: no-repeat;
    background-position: top right;
}

.tooltip {
    display: none;
    background-color: black;
    font-size: 12px;
    padding: 5px;
    color: white;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 3;
}

input[type=text]:disabled, input[type=password]:disabled, textarea:disabled, select:disabled, .disabled{
    background-color: #EBEBE4;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus{
    border-color: #666;
}

input[type=text].digit, input[type=text].short{
    width: 40px;
    text-align: center;
}

input[type=text].veryshort{
    width:20px;
}

.medium{
    width:100px;
}

table{
    border-collapse: collapse;
}

table.stacked th{
    padding-right: 10px;
    text-align: right;
}

.small{
    font-size: 70%;
}
.small input{
    font-size: 115%;
}

.clear{
    clear: both;
}

.left{
    float: left;
}

.right{
    float: right;
}

.move{
    cursor: move;
    z-index: 1;
}

.repeatedhandle{
    position: absolute;
    top: 4px;
    bottom: 5px;
    width: 6px;
    background-image: url('/static/common/images/grip.png');
    margin-right: 5px;
    display: inline-block;
}

.handle{
    position: absolute;
    width: 6px;
    height: 100%;
    top: 0px;
    background-image: url('/static/common/images/grip.png');
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}

.handlespacer{
    display: inline-block;
    width: 6px;
}

:focus{
    outline: 0;
}

.delete{
    width: 19px;
    height: 20px;
    background-color: white;
    border: 1px solid #CCC;
    background-image: url('/static/common/css/images/ui-icons_222222_256x240.png');
    background-position: -176px -96px;
    cursor: pointer;
    padding: 2px 0px;
}

.separator{
    height: 1px;
    background-color: #CCC;
}

.textleft{
    text-align: left !important;
}

#templates{
    display: none;
}

.inputmimic{
    min-width: 80px;
    height: 15px;
    padding: 1px;
    border-style: dashed;
}

.inlineblock{
    display: inline-block;
}

.alignleft{
    text-align: left;
}

.aligncenter{
    text-align: center;
}

h2{
    margin-bottom: 5px;
}

.hidden{
    display:none;
}

.dropping{
    background-color: #CAEDC2 !important;
}

.relative{
    position: relative;
}

.pointer{
    cursor: pointer;
}

.labelinput{
    border-style: dashed !important;
    color: black !important;
}

input.icon{
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: move;
    color: transparent;
    padding: 0px;
}
div.icon{
    display: inline-block;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background-position: center;
}
.garmentdyeicon{
    background-image: url('/static/common/images/garmentdye.png');
}
.mainicon{
    background-image: url('/static/common/images/main.png');
}
.shippingicon{
    background-image: url('/static/common/images/shipping.png');
}
.billingicon{
    background-image: url('/static/common/images/billing.png');
}

textarea{
    height: 35px;
    display: block;
}

.ui-draggable-dragging{
    z-index: 5 !important;
}

fieldset{
    background-color: #EBF4F4;
    border: 1px solid #383ED6;
    margin-top: 10px;
    position: relative;
}

fieldset legend{
    font-weight: bold;
    text-align: left;
}

fieldset fieldset legend{
    font-weight: normal;
    font-style: italic;
}

fieldset.collapsed{
    border-width: 1px 0px 0px 0px;
    background-color: transparent;
    background-image: url('')
}
fieldset.collapsed > *:not(legend){
    display: none !important;
}
fieldset legend{
    padding-left: 15px;
    position: relative;
}
fieldset.collapsed legend{
    margin-left: 2px;
}
fieldset fieldset.collapsed legend{
    margin-left: 1px;
}

fieldset legend .toggle{
    background-image: url('/static/common/images/collapse.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 1px;
    width: 15px;
    cursor: pointer;
}

fieldset.collapsed legend .toggle{
    background-image: url('/static/common/images/expand.png');
}

.ui-tabs legend{
    margin-left: 9px;
}
.ui-tabs.collapsed legend{
    margin-left: 10px;
}

.cleditorMain, .cleditorvalue{
    margin-bottom: 10px;
}
.cleditorMain iframe{
    width: 100% !important;
}
.cleditorvalue{
    border: 1px solid #999;
    padding: 4px;
}

ul{
    margin: 0px;
    padding-left: 25px;
}

.sidebar > div{
    margin-bottom: 10px;
}
