body{
    font-size: 85%;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

.content{
    padding-right: 20px;
    border-right: 1px solid #DDD;
    margin: 0 290px 0 0px;
}

.sidebar{
    width: 270px;
    float: right;
}

input[type=text], input[type=password], textarea, select{
    background-color: #D7FFCE;
    border: 1px solid #BBB;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus{
    border-color: #666;
}

input[type=text].digit{
    width: 50px;
    text-align: center;
}

table{
    border-collapse: collapse;
}

fieldset{
    border: 2px solid #CCC;
    background-color: #F2F2F2;
    margin-top: 10px;
}

fieldset fieldset{
    margin-top: 0px;
    border-width: 1px;
}

fieldset legend{
    font-weight: bold;
}

fieldset fieldset legend{
    font-weight: normal;
    font-style: italic;
    font-size: 70%;
}

fieldset fieldset legend input{
    font-size: 115%;
}

.clear{
    clear: both;
}

.left{
    float: left;
}

.move{
    position: absolute;
    top: 4px;
    bottom: 5px;
    width: 6px;
    cursor: move;
    background-image: url('/static/common/images/grip.png');
    margin-right: 5px;
    display: inline-block;
}
