{% extends "base.html" %}

{% block extrahead %}{{ block.super }}
    <script type='application/javascript'>
        $(function(){
            $('.inputicon').draggable({ 
                cancel: null,
                revert: 'invalid' 
            });
            makedroppable();
        });
        
        function makedroppable(){
            $('.contact').droppable('destroy');
            $('.address').droppable('destroy');
            $('.contact').droppable({
	            hoverClass: "dropping",
	            accept: ".contacticon",
	            drop: function(event, ui){
	                $(ui.draggable).val(this.id).css('top','0px').css('left','0px').appendTo('#' + this.id + ' .iconcontainer');
	            }
            });
            $('.address').droppable({
	            hoverClass: "dropping",
	            accept: ".addressicon",
	            drop: function(event, ui){
	                $(ui.draggable).val(this.id).css('top','0px').css('left','0px').appendTo('#' + this.id + ' .iconcontainer');
	            }
            });
        }
    
        function addcontact(){
            var prefix = parseInt($('#id_contactcount').val()) + 1;
            $.get('/tsd/customers/addcontact/', {'prefix':prefix}, function(data){
                $('#contacts').append(data);
                $('#id_contactcount').val(prefix);
                makedroppable();
            });
        }
        
        function addaddress(){
            var prefix = parseInt($('#id_addresscount').val()) + 1;
            $.get('/tsd/customers/addaddress/', {'prefix':prefix}, function(data){
                $('#addresses').append(data);
                $('#id_addresscount').val(prefix);
                makedroppable();
            });
        }
    </script>
    
    <style type='text/css'>
        .inputicon{
            height: 20px;
            width: 20px;
            background-repeat: no-repeat;
            background-position: center;
            cursor: move;
            color: transparent;
            z-index: 2;
        }
        .iconcontainer{
            position: absolute;
            width: 22px;
            top: 20px;
            right: -11px;
        }
        .iconcontainer .inputicon{
            margin-bottom: 3px;
        }
        .contact, .address{
            margin-right: 10px;
        }
        .mainicon{
            background-image: url('/static/common/images/main.png');
        }
        .shippingicon{
            background-image: url('/static/common/images/shipping.png');
        }
        .billingicon{
            background-image: url('/static/common/images/billing.png');
        }
    </style>
{% endblock %}

{% block content %}
    <form method="post" action="">
    {% csrf_token %}
        <fieldset>
            <legend>Meta</legend>
            {{ form.name }}
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
        </fieldset>
        
        <fieldset id='contacts'>
            <legend>
                Contacts <input type='button' value='+' onClick='addcontact()'/> 
                {% if form.maincontactprefix.value == None %}
                    {{ form.maincontactprefix }}
                {% endif %}
                {% if form.shippingcontactprefix.value == None %}
                    {{ form.shippingcontactprefix }}
                {% endif %}
                {% if form.billingcontactprefix.value == None %}
                    {{ form.billingcontactprefix }}
                {% endif %}
            </legend>
            {% for contactform in contactforms %}
                {% include 'customers/contact.html' %}
            {% endfor %}
        </fieldset>
        
        <fieldset id='addresses'>
            <legend>
                Addresses <input type='button' value='+' onClick='addaddress()'/> 
                {% if form.shippingaddressprefix.value == None %}
                    {{ form.shippingaddressprefix }}
                {% endif %}
                {% if form.billingaddressprefix.value == None %}
                    {{ form.billingaddressprefix }}
                {% endif %}
            </legend>
            {% for addressform in addressforms %}
                {% include 'customers/address.html' %}
            {% endfor %}
        </fieldset>
        
        <input type='submit' value='submit'/>
    </form>
{% endblock %}

{% block sidebar %}

{% endblock %}
