{% extends "base.html" %}

{% block extrahead %}{{ block.super }}
    <script type='application/javascript'>
        $(function(){
            $('.colorlistitem').draggable({
                helper: 'clone'
            });
            $('.pricecolorlist').droppable({
                hoverClass: "dropping",
	            accept: ".colorlistitem",
	            drop: function( event, ui ){
	                var colorid = $(ui.draggable).data('colorid');
	                var priceprefix = $(this).data('priceprefix');
	                addpricecolor(colorid, priceprefix);
	            }
            });
            filtercolors();
        });
        
        function filtercolors(){
            $('.colorlistitem').parent().show();
            $('.pricecolor').each(function(index){
                var prefix = $(this).data('prefix');
                var del = $('#id_' + prefix + '-delete').val();
                var colorid = $('#id_' + prefix + '-color').val();
                if(del == 0){
                    $('#color' + colorid).hide();
                }
            });
        }
        
        function addpricecolor(colorid, parentprefix){
            var pricecolorprefix = parseInt($('#id_pricecolorcount').val()) + 1;
            $.get('/tsd/styles/addpricecolor', {'prefix':pricecolorprefix, 'colorid':colorid, 'parentprefix':parentprefix}, function(data){
                $('#' + parentprefix + 'pricecolors').append(data);
                $('#id_pricecolorcount').val(pricecolorprefix);
                filtercolors();
            });
        }
    
        function addprice(){
            var priceprefix = parseInt($('#id_pricecount').val()) + 1;
            $.get('/tsd/styles/addprice/', {'prefix':priceprefix}, function(data){
                $('#pricecategories').append(data);
                $('#id_pricecount').val(priceprefix);
            });
        }
        
        function addaddedcost(parentprefix){
            var addedcostprefix = parseInt($('#id_addedcostcount').val()) + 1;
            $.get('/tsd/styles/addaddedcost/', {'prefix':addedcostprefix, 'parentprefix':parentprefix}, function(data){
                $('#' + parentprefix + 'prices').append(data);
            }).success(function() {
                $('#id_addedcostcount').val(addedcostprefix);
                $('#sizes input:checked').each(function(index){
                    var sizeprefix = $(this).parent().data('prefix');
                    var sizename = $('#id_' + sizeprefix + '-label').val();
                    $('#id_ac' + addedcostprefix + '-sizeprefix').append("<option value='" + sizeprefix + "'>" + sizename + "</option>");
                });
            });
        }
        
        function togglesizeexists(checkbox){
            var sizeprefix = $(checkbox).parent().data('prefix');
            var sizename = $('#id_' + sizeprefix + '-label').val();
            if($(checkbox).is(':checked')){
                $('.sizeprefix').append("<option value='" + sizeprefix + "'>" + sizename + "</option>");
            }
            else{
                $("option[value='" + sizeprefix + "']").remove();
            }
        }
        
        function deletecolor(prefix){
            deleteitem(prefix);
            filtercolors();
        }
    </script>

    <style type='text/css'>

    </style>
{% endblock %}

{% block content %}
    <form method="post" action="">
    {% csrf_token %}
        <fieldset>
            <legend>Meta</legend>
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
            {{ form.errors }}
            <table>
                <tr>
                    <td>{{ form.number.label }}</td>
                    <td class='{{ form.number.css_classes }}'>{{ form.number }}</td>
                </tr>
                <tr>
                    <td>{{ form.description.label }}</td>
                    <td>{{ form.description }}</td>
                </tr>
                <tr>
                    <td>{{ form.manufacturer.label }}</td>
                    <td>{{ form.manufacturer }}</td>
                </tr>
            </table>
        </fieldset>
        
        <fieldset>
            <legend>Sizes Available</legend>
            <table id='sizes'>
                <tr>
                    <th></th>
                    <th>Size</th>
                    <th>Weight</th>
                </tr>
                {% for sizeform in sizeforms %}
                <tr>
                    <td data-prefix='{{ sizeform.prefix }}'>{{ sizeform.exists }}{{ sizeform.errors }}</td>
                    <td>{{ sizeform.label.value }}</td>
                    <td>{{ sizeform.weight }}{% for field in sizeform.hidden_fields %}{{ field }}{% endfor %}</td>
                </tr>
                {% endfor %}
            </table>
        </fieldset>
        
        <h3>Price Groups <input type='button' value='+' onClick='addprice();'/></h3>
        <div id='pricecategories'>
        {% for priceform in priceforms %}
            {% include 'styles/price.html' %}
        {% endfor %}
        </div>
        
        <fieldset>
            <legend>Notes</legend>
            {{ form.note }}
        </fieldset>
        <input type='submit' value='submit'/>
    </form>
{% endblock %}

{% block sidebar %}
    <h3>Unassigned Colors</h3>
    <ul id='colorlist'>
    {% for color in colors %}
        <li id='color{{ color.id }}'><div class='move colorlistitem' data-colorid='{{ color.id }}'>{{ color }}</div></li>
    {% endfor %}
    </ul>
{% endblock %}
