<fieldset class='{{ priceform.prefix }}'>
    <legend>{{ priceform.name }}{{ priceform.basecost }}{% for field in priceform.hidden_fields %}{{ field }}{% endfor %} <input type='button' class='delete' onClick="deleteitem('{{ priceform.prefix }}')"/></legend>
    {{ priceform.garmentdye }}{{ priceform.garmentdye.label }}
    <fieldset>
        <legend>Sizes with Added Cost <input type='button' value='+' onClick="addaddedcost('{{ priceform.prefix }}')"/></legend>
        <div id='{{ priceform.prefix }}prices'>
        {% for addedcostform in addedcostforms %}
            {% if addedcostform.parentprefix.value == priceform.prefix %}
                {% include 'styles/addedcost.html' %}
            {% endif %}
        {% endfor %}
        </div>
    </fieldset>
</fieldset>
