<fieldset class='{{ priceform.prefix }}'>
    <legend>{{ priceform.name }}{{ priceform.basecost }}{% for field in priceform.hidden_fields %}{{ field }}{% endfor %} <input type='button' class='delete' onClick="deleteitem('{{ priceform.prefix }}')"/></legend>
    <fieldset>
        <legend>Sizes with Added Cost <input type='button' value='+' onClick="addaddedcost('{{ priceform.prefix }}')"/></legend>
        <div id='{{ priceform.prefix }}prices'>
        {% for addedcostform in addedcostforms %}
            {% if addedcostform.parentprefix.value == priceform.prefix %}
                {% include 'styles/addedcost.html' %}
            {% endif %}
        {% endfor %}
        </div>
    </fieldset>
    <fieldset id='{{ priceform.prefix }}pricecolors' class='pricecolorlist' data-priceprefix='{{ priceform.prefix }}'>
        <legend>Colors Included</legend>
        {% for pricecolorform in pricecolorforms %}
            {% if pricecolorform.parentprefix.value == priceform.prefix %}
                {% include 'styles/pricecolor.html' %}
            {% endif %}
        {% endfor %}
    </fieldset>
</fieldset>
