{% extends "base.html" %}

{% block extrahead %}{{ block.super }}
    <script type='application/javascript'>
        $(function(){
		    $( '#tasknames' ).dialog({
			    height: 350,
			    width: 450,
			    modal: true, 
			    autoOpen: false
		    });
        });
    
        function addcomment(){
            var prefix = parseInt($('#id_commentcount').val()) + 1;
            $.get('/tsd/artwork/tasks/addcomment/', {'prefix':prefix}, function(data){
                $('#comments').prepend(data);
                $('#id_commentcount').val(prefix);
                makecleditor();
            });
        }
        
        function shownames(){
            $('#tasknames').dialog('open');
        }
        function selectcannedname(nameid, name){
            $('#id_name').val(nameid);
            $('#id_miscname').val('');
            $('#namelabel').html(name);
            $('#tasknames').dialog('close');
        }
        function selectmiscname(){
            var newname = $('#miscname').val();
            $('#id_miscname').val(newname);
            $('#id_name').val('');
            $('#namelabel').html(newname);
            $('#tasknames').dialog('close');
        }
    </script>
    
    <style type='text/css'>

    </style>
{% endblock %}

{% block content %}
    <div id='tasknames'>
        <fieldset>
            <legend>Choose a Task Name</legend>
        {% for name in artworktasknames %}
            <div><span class='pointer' onClick="selectcannedname('{{ name.id }}', '{{ name }}')">{{ name }}</span></div>
        {% endfor %}
        </fieldset>
        <fieldset>
            <legend>Or Type Your Own</legend>
            <input type='text' id='miscname'/><input type='button' value='ok' onClick="selectmiscname()"/>
        </fieldset>
    </div>
    <form method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}
        <fieldset>
            <legend>Meta</legend>
            <table class='stacked'>
                <tr>
                    <th>Artwork</th>
                    <td>{{ form.artwork }}</td>
                </tr>
                <tr>
                    <th>Created By</th>
                    <td>{{ form.userlabel }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td><div class='labelinput inputmimic pointer' id='namelabel' onClick='shownames()'>{{ form.namelabel }}</div></td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ form.status }}</td>
                </tr>
            </table>
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
        </fieldset>
        
        <fieldset id='comments' class='relative'>
            <legend>Activity <input type='button' onClick='addcomment();' value='+'/></legend>
            {% for commentform in commentforms %}
                {% include 'artwork/tasks/comment.html' %}
            {% endfor %}
        </fieldset>
{% endblock %}

{% block sidebar %}
    <h3>Artwork Details</h3>
    <div>
        <strong>Name:</strong><br/><a href="../../../{{ artwork.pk }}/edit/">{{ artwork.name }}</a>
    </div>
    <div>
        <strong>Customer:</strong><br/>{{ artwork.customer }}
    </div>
    <div>
        <strong>Prints:</strong><ul>
        {% for imprint in artwork.imprint_set.all %}
            <li>{{ imprint.name }}
                <ul>
                    <li>width: {{ imprint.width|default_if_none:"not specified" }}{% if imprint.width %}"{% endif %}</li>
                    <li>height: {{ imprint.height|default_if_none:"not specified" }}{% if imprint.width %}"{% endif %}</li>
                </ul>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div>
        <strong>Setups:</strong><ul>
        {% for imprint in artwork.imprint_set.all %}
            <li>{{ imprint.name }}
                <ul>
                {% for setup in imprint.setup_set.all %}
                    <li>{{ setup.name }}</li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div>
        <strong>Colors:</strong><ul>
        {% for imprint in artwork.imprint_set.all %}
            <li>{{ imprint.name }}
                <ul>
                {% for setup in imprint.setup_set.all %}
                    {% for color in setup.setupcolor_set.all %}
                        <li>{{ color.inkcolor }} ({{ setup.name }})</li>
                    {% endfor %}
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div>
        <strong>Placements:</strong><ul>
        {% for imprint in artwork.imprint_set.all %}
            <li>{{ imprint.name }}
                <ul>
                {% for placement in imprint.placement_set.all %}
                    <li>{{ placement.shirttype }} - {{ placement.placement }}</li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div>
        <strong>Files:</strong><ul>
        {% for file in artwork.artworkfile_set.all %}
            <li><a href=''>{{ file.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block footerbar %}
        <input type='submit' value='submit'/>
    </form>
{% endblock %}
