{% extends "base.html" %}

{% block extrahead %}{{ block.super }}
    <script type='application/javascript'>

    </script>
    
    <style type='text/css'>

    </style>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}
        <fieldset>
            <legend>Meta</legend>
            <dl>
                <dt>Artwork</dt>
                <dd>{{ form.artwork }}</dd>
                <dt>Created By</dt>
                <dd>{{ form.user }}</dd>
                <dt>Name</dt>
                <dd>{{ form.name }}</dd>
                <dt>Status</dt>
                <dd>{{ form.status }}</dd>
            </dl>
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
        </fieldset>
        
        <fieldset id='comments'>
            <legend>Comments <input type='button' onClick='addcomment();' value='+'/></legend>
            {% for commentform in commentforms %}
                {% include 'artwork/tasks/comment.html' %}
            {% endfor %}
        </fieldset>
{% endblock %}

{% block sidebar %}
        <input type='submit' value='submit'/>
    </form>
{% endblock %}
