{% extends "base.html" %}

{% block extrahead %}{{ block.super }}
    <script type='application/javascript'>
        $(function(){
            maketabs();
		    makedroppable();
		    makedraggable();
        });
        
        function maketabs(){
            $('.setuptabs').tabs('destroy');
            $('.setuptabs').tabs()
		    
		    $('.imprinttabs').tabs('destroy');
		    $('.imprinttabs').tabs();
        }
        
        function makedroppable(){
            $('.presshead .drop').droppable('destroy');
            $('.presshead .drop').each(function(){
                if($.trim($(this).text()).length == 0){
                    $(this).droppable({
	                    hoverClass: "dropping",
	                    tolerance: 'pointer',
	                    drop: function(event, ui){
	                        var headnumber = $(this).data('headnumber');
	                        var prefix = $(ui.draggable).data('prefix');
	                        if($(ui.draggable).hasClass('flashplaceholder')){
	                            parentprefix = $(ui.draggable).data('parentprefix');
                                addsetupcolor(parentprefix, this.id, headnumber);
                            }
                            else{
	                            $(ui.draggable).css('top','0px').css('left','0px').appendTo('#' + this.id);
	                            $('#id_' + prefix + '-headnumber').val(headnumber);
	                            makedroppable();
                            }
	                    }
                    });
                }
            });
        }
        
        function makedraggable(){
            $('.setupcolor, .setupflash').draggable({
                cancel: null,
                revert: 'invalid',
                handle: 'div.handle'
            });
            
            $('.flashplaceholder').draggable({
                cancel: null,
                revert: 'invalid',
                handle: 'div.handle',
                helper: 'clone'
            });
        }
        
        function addimprint(){
            var prefix = parseInt($('#id_imprintcount').val()) + 1;
            $('#imprints ul.imprintlist').append("<li><a href='#imprint" + prefix + "'><span id='" + prefix + "namelabel'>[unnamed]</span></a></li>");
            $.get('/tsd/artwork/addimprint/', {'prefix':prefix}, function(data){
                $('#imprints').append(data);
                $('#id_groupcount').val(prefix);
                maketabs();
                addtoggle();
            });
        }
        
        function addsetup(imprintprefix){
            var prefix = parseInt($('#id_setupcount').val()) + 1;
            $('#' + imprintprefix + 'setups ul.setuplist').append("<li><a href='#setups" + prefix + "'><span id='" + prefix + "namelabel'>[unnamed]</span></a></li>");
            $.get('/tsd/artwork/addsetup/', {'prefix':prefix, 'parentprefix':imprintprefix}, function(data){
                $('#' + imprintprefix + 'setups').append(data);
                $('#id_setupcount').val(prefix);
                maketabs();
                makedroppable();
                addtoggle();
            });
        }
        
        function addsetupcolor(setupprefix, containerid, headnumber){
            var prefix = parseInt($('#id_setupflashcount').val()) + 1;
            $.get('/tsd/artwork/addsetupflash/', {'prefix':prefix, 'parentprefix':setupprefix, 'headnumber':headnumber}, function(data){
                $('#presshead' + headnumber + '-' + setupprefix).append(data);
                $('#id_setupflashcount').val(prefix);
                makedraggable();
                makedroppable();
            });
        }
    </script>
    
    <style type='text/css'>
        .presshead{
            position: relative;
            height: 24px;
        }
        .presshead .drop{
            position: absolute;
            right:0px;
            left:20px;
            top:0px;
            bottom:0px;
            min-width: 400px;
            height: 24px;
        }
        .presshead .label{
            position: absolute;
            top: 3px;
            left: 0px;
            width: 15px;
            text-align: center;
        }
        .setupflash, .flashplaceholder{
            height: 20px;
            padding-top: 4px;
        }
    </style>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}
        <fieldset>
            <legend>Meta</legend>
            <dl>
                <dt>Customer</dt>
                <dd>{{ form.customer }}</dd>
                <dt>Name</dt>
                <dd>{{ form.name }}</dd>
                <dt>AFB Number</dt>
                <dd>{{ form.bagnumber }}</dd>
            </dl>
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
        </fieldset>
        
        <fieldset id='imprints' class='imprinttabs'>
            <legend>Imprints <input type='button' onClick='addimprint();' value='+'/></legend>
            <ul class='imprintlist'>
                {% for imprintform in imprintforms %}
                    <li><a href='#imprint{{ imprintform.prefix }}'><span id='{{ imprintform.prefix }}namelabel'>{{ imprintform.name.value }}</span></a></li>
                {% endfor %}
            </ul>
            {% for imprintform in imprintforms %}
                {% include 'artwork/imprint.html' %}
            {% endfor %}
        </fieldset>

    <input type='submit' value='submit'/>
    </form>
{% endblock %}

{% block sidebar %}

{% endblock %}
