{% extends "base.html" %}

{% block extrahead %}{{ block.super }}
    <script type='application/javascript'>
        $(function(){
            maketabs();
		    makedroppable();
		    makedraggable();
        });
        
        function maketabs(){
            $('.setuptabs').tabs('destroy');
            $('.setuptabs').tabs().addClass('ui-tabs-vertical ui-helper-clearfix');
            $('.setuptabs ul').removeClass('ui-widget-header');
		    $(".setuptabs li").removeClass('ui-corner-top').addClass('ui-corner-left');
		    
		    $('.imprinttabs').tabs('destroy');
		    $('.imprinttabs').tabs();
        }
        
        function makedroppable(){
            $('.presshead .drop').droppable('destroy');
            $('.presshead .drop').droppable({
	            hoverClass: "dropping",
	            accept: ".setupcolor",
	            drop: function(event, ui){
	                var headnumber = $(this).data('headnumber');
	                var prefix = $(ui.draggable).data('prefix');
	                $(ui.draggable).css('top','0px').css('left','0px').appendTo('#' + this.id);
	                $('#id_' + prefix + '-headnumber').val(headnumber);
	            }
            });
        }
        
        function makedraggable(){
            $('.setupcolor').draggable({
                cancel: null,
                revert: 'invalid',
                handle: 'div.handle'
            });
        }
        
        function addimprint(){
            var prefix = parseInt($('#id_imprintcount').val()) + 1;
            $.get('/tsd/artwork/addimprint/', {'prefix':prefix}, function(data){
                $('#imprints').append(data);
                $('#id_groupcount').val(prefix);
            });
        }
        
        function addsetup(imprintprefix){
            var prefix = parseInt($('#id_setupcount').val()) + 1;
            $('#' + imprintprefix + 'setups ul').append("<li><a href='#setups" + prefix + "'><span id='" + prefix + "namelabel'>[unnamed]</span></a></li>");
            $.get('/tsd/artwork/addsetup/', {'prefix':prefix, 'parentprefix':imprintprefix}, function(data){
                $('#' + imprintprefix + 'setups').append(data);
                $('#id_setupcount').val(prefix);
                maketabs();
            });
        }
        
        function addsetupcolor(setupprefix){
            var prefix = parseInt($('#id_setupcolorcount').val()) + 1;
            $.get('/tsd/artwork/addsetupcolor/', {'prefix':prefix, 'parentprefix':setupprefix}, function(data){
                $('#' + setupprefix + 'setupcolors').append(data);
                $('#id_setupcolorcount').val(prefix);
            });
        }
    </script>
    
    <style type='text/css'>
        .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
        .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-right-width: 0 !important; margin-bottom: 5px !important; overflow: hidden; }
        .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
        .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
        .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: left;}
        .ui-tabs-vertical .ui-tabs-nav li:not(.ui-state-hover) { border-bottom: 1px solid !important; }
        .tabsbackground{
            position: absolute;
            top: 24px;
            bottom: 0px;
            left: 0px;
            width: 166px;
        }
        .presshead{
            position: relative;
            margin-bottom: 5px;
        }
        .presshead .drop{
            display: inline-block;
            min-width: 400px;
            height: 16px;
        }
        .presshead .label{
            display: inline-block;
            width: 15px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}
        <fieldset>
            <legend>Meta</legend>
            <dl>
                <dt>Customer</dt>
                <dd>{{ form.customer }}</dd>
                <dt>Name</dt>
                <dd>{{ form.name }}</dd>
                <dt>AFB Number</dt>
                <dd>{{ form.bagnumber }}</dd>
            </dl>
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
        </fieldset>
        
        <fieldset class='imprinttabs'>
            <legend>Imprints <input type='button' onClick='addimprint();' value='+'/></legend>
            <ul>
                {% for imprintform in imprintforms %}
                    <li><a href='#imprint{{ imprintform.prefix }}'><span id='{{ imprintform.prefix }}namelabel'>{{ imprintform.name.value }}</span></a></li>
                {% endfor %}
            </ul>
            {% for imprintform in imprintforms %}
                {% include 'artwork/imprint.html' %}
            {% endfor %}
        </fieldset>

    <input type='submit' value='submit'/>
    </form>
{% endblock %}

{% block sidebar %}

{% endblock %}
