{% extends "base.html" %}

{% block extrahead %}{{ block.super }}
    <script type='application/javascript'>
        $(function(){
            maketabs();
		    makedroppable();
		    makedraggable();
        });
        
        function maketabs(){
            makeimprinttabs();
            makesetuptabs();
        }
        
        function makeimprinttabs(){		    
		    $('.imprinttabs').tabs('destroy');
		    $('.imprinttabs').tabs({
		        cookie: {
				    expires: 1
			    }
		    });
        }
        
        function makesetuptabs(){
            $('.setuptabs').tabs('destroy');
            $('.setuptabs').tabs({
		        cookie: {
				    expires: 1
			    }
		    });
        }
        
        function makedroppable(){
            $('.presshead .drop').droppable('destroy');
            $('.presshead .drop').each(function(){
                if($.trim($(this).text()).length == 0){
                    $(this).droppable({
	                    hoverClass: "dropping",
	                    tolerance: 'pointer',
	                    drop: function(event, ui){
	                        var headnumber = $(this).data('headnumber');
	                        var prefix = $(ui.draggable).data('prefix');
	                        if($(ui.draggable).hasClass('flashplaceholder')){
	                            parentprefix = $(ui.draggable).data('parentprefix');
                                addsetupflash(parentprefix, this.id, headnumber);
                            }
                            else{
	                            $(ui.draggable).css('top','0px').css('left','0px').appendTo('#' + this.id);
	                            $('#id_' + prefix + '-headnumber').val(headnumber);
	                            makedroppable();
                            }
	                    }
                    });
                }
            });
        }
        
        function makedraggable(){
            $('.setupcolor, .setupflash').draggable({
                cancel: null,
                revert: 'invalid',
                handle: 'div.handle'
            });
            
            $('.flashplaceholder').draggable({
                cancel: null,
                revert: 'invalid',
                handle: 'div.handle',
                helper: 'clone'
            });
        }
        
        function addfile(){
            var prefix = parseInt($('#id_filecount').val()) + 1;
            $.get('/tsd/artwork/addartworkfile/', {'prefix':prefix}, function(data){
                $('#files').append(data);
                $('#id_filecount').val(prefix);
                addtoggle();
            });
        }
        
        function addimprint(){
            var prefix = parseInt($('#id_imprintcount').val()) + 1;
            $('#imprints ul.imprintlist').append("<li><a href='#imprinti" + prefix + "'><span id='" + prefix + "namelabel'>[unnamed]</span></a></li>");
            $.get('/tsd/artwork/addimprint/', {'prefix':prefix}, function(data){
                $('#imprints').append(data);
                $('#id_imprintcount').val(prefix);
                maketabs();
                addtoggle();
            });
        }
        
        function addplacement(imprintprefix){
            var prefix = parseInt($('#id_placementcount').val()) + 1;
            $.get('/tsd/artwork/addplacement/', {'prefix':prefix, 'parentprefix':imprintprefix}, function(data){
                $('#' + imprintprefix + 'placements').append(data);
                $('#id_placementcount').val(prefix);
            });
        }
        
        function addsetup(imprintprefix){
            var prefix = parseInt($('#id_setupcount').val()) + 1;
            $('#' + imprintprefix + 'setups ul.setuplist').append("<li><a href='#setups" + prefix + "'><span id='" + prefix + "namelabel'>[unnamed]</span></a></li>");
            $.get('/tsd/artwork/addsetup/', {'prefix':prefix, 'parentprefix':imprintprefix}, function(data){
                $('#' + imprintprefix + 'setups').append(data);
                $('#id_setupcount').val(prefix);
                makesetuptabs();
                makedroppable();
                addtoggle();
            });
        }
        
        function addsetupcolor(setupprefix){
            var prefix = parseInt($('#id_setupcolorcount').val()) + 1;
            $.get('/tsd/artwork/addsetupcolor/', {'prefix':prefix, 'parentprefix':setupprefix}, function(data){
                $('#' + setupprefix + 'setupcolors').append(data);
                $('#id_setupcolorcount').val(prefix);
            });
        }
        
        function addsetupflash(setupprefix, containerid, headnumber){
            var prefix = parseInt($('#id_setupflashcount').val()) + 1;
            $.get('/tsd/artwork/addsetupflash/', {'prefix':prefix, 'parentprefix':setupprefix, 'headnumber':headnumber}, function(data){
                $('#presshead' + headnumber + '-' + setupprefix).append(data);
                $('#id_setupflashcount').val(prefix);
                makedraggable();
                makedroppable();
            });
        }
    </script>
    
    <style type='text/css'>
        .presshead{
            position: relative;
            height: 24px;
        }
        .presshead .drop{
            position: absolute;
            right:0px;
            left:20px;
            top:0px;
            bottom:0px;
            min-width: 400px;
            height: 24px;
        }
        .presshead .label{
            position: absolute;
            top: 3px;
            left: 0px;
            width: 15px;
            text-align: center;
        }
        .setupflash, .flashplaceholder{
            height: 20px;
            padding-top: 4px;
        }
    </style>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}
        <fieldset>
            <legend>Meta</legend>
            <table class='stacked'>
                <tr>
                    <th>Artwork ID</th>
                    <td>{{ form.pk.value }}</td>
                </tr>
                <tr>
                    <th>Customer</th>
                    <td>{{ form.customer }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ form.name }}</td>
                </tr>
                <tr>
                    <th>AFB Number</th>
                    <td>{{ form.bagnumber }}</td>
                </tr>
            </table>
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
        </fieldset>
        
        <fieldset id='files'>
            <legend>Files <input type='button' onClick='addfile();' value='+'/></legend>
            {% for fileform in fileforms %}
                {% include 'artwork/file.html' %}
            {% endfor %}
        </fieldset>
               
        <fieldset id='imprints' class='imprinttabs'>
            <legend>Imprints <input type='button' onClick='addimprint();' value='+'/></legend>
            <ul class='imprintlist'>
                {% for imprintform in imprintforms %}
                    <li><a href='#imprint{{ imprintform.prefix }}'><span id='{{ imprintform.prefix }}namelabel'>{{ imprintform.name.value }}</span></a></li>
                {% endfor %}
            </ul>
            {% for imprintform in imprintforms %}
                {% include 'artwork/imprint.html' %}
            {% endfor %}
        </fieldset>
{% endblock %}

{% block sidebar %}
        <h3>Tasks <input type='button' onClick='addtask();' value='+'/></h3>
        <div>
            <strong><a href="../../tasks/add/{{ form.pk.value }}/">New Task</a></strong>
        </div>
        {% for task in tasks %}
            <div>
                <strong><a href="../../tasks/{{ task.pk }}/edit">{{ task.name }}</a></strong>
                <div>Status: {{ task.status }} | Comments: {{ task.artworktaskcomment_set.count }}</div>
            </div>
        {% endfor %}
{% endblock %}

{% block footerbar %}
        <input type='submit' value='submit'/>
    </form>
{% endblock %}
