<fieldset id='file{{ fileform.prefix }}' class='inlineblock'>
    <legend>{{ fileform.name }}</legend>
    {% for field in fileform.hidden_fields %}{{ field }}{% endfor %}
    <table>
        <tr>
            <th>Type</th>
            <td>{{ fileform.filetype }}</td>
        </tr>
        <tr>
            <th>File</th>
            <td>
                {% if fileform.new.value == 0 %}
                    <a href='/static/common/{{ fileform.file.value }}'>link</a><br/>
                    <div class=''>{{ fileform.file }}</div>
                {% else %}
                    {{ fileform.file }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Note</th>
            <td>{{ fileform.note }}</td>
        </tr>
    </table>
</fieldset>
