<div id='imprint{{ imprintform.prefix }}'>
    {% for field in imprintform.hidden_fields %}{{ field }}{% endfor %}
    <table class='stacked'>
        <tr>
            <th>Name</th>
            <td>{{ imprintform.name }}</td>
        </tr>
        <tr>
            <th>Transcendence</th>
            <td>{{ imprintform.transcendent }}can be used by other customers</td>
        </tr>
        <tr>
            <th>Print Width</th>
            <td>{{ imprintform.width }}</td>
        </tr>
        <tr>
            <th>Print Height</th>
            <td>{{ imprintform.height }}</td>
        </tr>
    </table>
    <fieldset id='{{ imprintform.prefix }}placements'>
        <legend>Placements <input type='button' onClick="addplacement('{{ imprintform.prefix }}');" value='+'/></legend>
        {% for placementform in placementforms %}
            {% if placementform.parentprefix.value == imprintform.prefix %}
                {% include 'artwork/placement.html' %}
            {% endif %}
        {% endfor %}
    </fieldset>
    <fieldset id='{{ imprintform.prefix }}setups' class='relative setuptabs'>
        <legend>Setups <input type='button' onClick="addsetup('{{ imprintform.prefix }}');" value='+'/></legend>
        <ul class='setuplist'>
            {% for setupform in setupforms %}
                {% if setupform.parentprefix.value == imprintform.prefix %}
                    <li><a href='#setup{{ setupform.prefix }}'><span id='{{ setupform.prefix }}namelabel'>{{ setupform.name.value }}</span></a></li>
                {% endif %}
            {% endfor %}
        </ul>
        {% for setupform in setupforms %}
            {% if setupform.parentprefix.value == imprintform.prefix %}
                {% include 'artwork/setup.html' %}
            {% endif %}
        {% endfor %}
    </fieldset>
</div>
