<div id='imprint{{ imprintform.prefix }}'>
    {% for field in imprintform.hidden_fields %}{{ field }}{% endfor %}
    <dl>
        <dt>Name</dt>
        <dd>{{ imprintform.name }}</dd>
        <dt>Imprint can be used by other customers</dt>
        <dd>{{ imprintform.transcendent }}</dd>
        <dt>Print Width</dt>
        <dd>{{ imprintform.width }}</dd>
        <dt>Print Height</dt>
        <dd>{{ imprintform.height }}</dd>
    </dl>
    <fieldset id='{{ imprintform.prefix }}placements'>
        <legend>Placements <input type='button' onClick="addplacement('{{ imprintform.prefix }}');" value='+'/></legend>
        {% for placementform in placementforms %}
            {% if placementform.parentprefix.value == imprintform.prefix %}
                {% include 'artwork/placement.html' %}
            {% endif %}
        {% endfor %}
    </fieldset>
    <fieldset id='{{ imprintform.prefix }}setups' class='relative setuptabs'>
        <legend>Setups <input type='button' onClick="addsetup('{{ imprintform.prefix }}');" value='+'/></legend>
        <ul class='setuplist'>
            {% for setupform in setupforms %}
                {% if setupform.parentprefix.value == imprintform.prefix %}
                    <li><a href='#setup{{ setupform.prefix }}'><span id='{{ setupform.prefix }}namelabel'>{{ setupform.name.value }}</span></a></li>
                {% endif %}
            {% endfor %}
        </ul>
        {% for setupform in setupforms %}
            {% if setupform.parentprefix.value == imprintform.prefix %}
                {% include 'artwork/setup.html' %}
            {% endif %}
        {% endfor %}
    </fieldset>
</div>
