<div id='imprint{{ imprintform.prefix }}'>
    {% for field in setupform.hidden_fields %}{{ field }}{% endfor %}
    <dl>
        <dt>Name</dt>
        <dd>{{ imprintform.name }}</dd>
        <dt>Imprint can be used in other artwork</dt>
        <dd>{{ imprintform.transcendent }}</dd>
    </dl>
    <fieldset id='{{ imprintform.prefix }}setups' class='relative setuptabs'>
        <legend>Setups <input type='button' onClick="addsetup('{{ imprintform.prefix }}');" value='+'/></legend>
        <div class='ui-widget-header ui-corner-left tabsbackground'></div>
        <ul>
            {% for setupform in setupforms %}
                {% if setupform.parentprefix.value == imprintform.prefix %}
                    <li><a href='#setup{{ setupform.prefix }}'><span id='{{ setupform.prefix }}namelabel'>{{ setupform.name.value }}</span></a></li>
                {% endif %}
            {% endfor %}
        </ul>
        {% for setupform in setupforms %}
            {% if setupform.parentprefix.value == imprintform.prefix %}
                {% include 'artwork/setup.html' %}
            {% endif %}
        {% endfor %}
    </legend>
</div>
