<div id='setup{{ setupform.prefix }}'>
    {% for field in setupform.hidden_fields %}{{ field }}{% endfor %}
    <dl>
        <dt>Name</dt>
        <dd>{{ setupform.name }}</dd>
        <dt>Image</dt>
        <dd>{{ setupform.image }}</dd>
        <dt>Deprecated</dt>
        <dd>{{ setupform.deprecated }}</dd>
        <dt>Notes</dt>
        <dd>{{ setupform.note }}</dd>
    </dl>
    <fieldset>
        <legend>Unassigned Colors <input type='button' value='+' onClick="addsetupcolor('{{ setupform.prefix }}')"/></legend>
        <div id='{{ setupform.prefix }}setupcolors'>
            <div class='relative flashplaceholder' data-parentprefix='{{ setupform.prefix }}'>
                <div class="handle move"></div>
                <div class="handlespacer"></div>
                *Flash*
            </div>
            {% for setupcolorform in setupcolorforms %}
                {% if setupcolorform.parentprefix.value == setupform.prefix and not setupcolorform.headnumber.value %}
                    {% include 'artwork/setupcolor.html' %}
                {% endif %}
            {% endfor %}
        </div>
    </fieldset>
    <fieldset>
        <legend>Press Setup</legend>
        {% for presshead in pressheads %}
            <div class='presshead'>
                <span class='label'>{{ presshead }}</span>
                <span id='presshead{{ presshead }}-{{ setupform.prefix }}' class='inlineblock drop' data-headnumber='{{ presshead }}'>
                    {% for setupcolorform in setupcolorforms %}
                        {% if setupcolorform.parentprefix.value == setupform.prefix and setupcolorform.headnumber.value == presshead %}
                            {% include 'artwork/setupcolor.html' %}
                        {% endif %}
                    {% endfor %}
                    {% for setupflashform in setupflashforms %}
                        {% if setupflashform.parentprefix.value == setupform.prefix and setupflashform.headnumber.value == presshead %}
                            {% include 'artwork/setupflash.html' %}
                        {% endif %}
                    {% endfor %}
                </span>
            </div>
        {% endfor %}
    </fieldset>
</div>
