{% extends "base.html" %}

{% block extrahead %}{{ block.super }}
    <script type='application/javascript'>
        $(function(){
            makesortable();
        });
    
        function addingredient(){
            var prefix = parseInt($('#id_ingredientcount').val()) + 1;
            $.get('/tsd/inks/addingredient/', {'prefix':prefix}, function(data){
                $('#ingredients').append(data);
                $('#id_ingredientcount').val(prefix);
                makesortable();
                updatesort();
            });
        }
        
        function addalias(){
            var prefix = parseInt($('#id_aliascount').val()) + 1;
            $.get('/tsd/inks/addalias/', {'prefix':prefix}, function(data){
                $('#aliases').append(data);
                $('#id_aliascount').val(prefix);
            });
        }
        
        function makesortable(){
            $('#ingredients').sortable('destroy')
		    $('#ingredients').sortable({
		        handle: 'div.move',
		        opacity: '.5',
		        placeholder: 'highlighted',
		        forcePlaceholderSize: true,
		        update: function(event, ui){
		            updatesort();
		        }
	        })
        }
        
        function updatesort(){
            $('.sort').each(function(i){
                $(this).val(i+1);
            });
        }
    </script>
    
    <style type='text/css'>

    </style>
{% endblock %}

{% block content %}
    <form method="post" action="">
    {% csrf_token %}
        <fieldset>
            <legend>Meta</legend>
            <dl>
                <dt>Ink Number</dt>
                <dd>{{ form.inknumber }}</dd>
                <dt>Base</dt>
                <dd>{{ form.inkbase }}</dd>
                <dt>Color Family</dt>
                <dd>{{ form.colorfamily }}</dd>
                <dt>Alias(es) (including Pantones) <input type='button' value='+' onClick='addalias()'/></dt>
                <dd id='aliases'>
                    {% for aliasform in aliasforms %}
                        {% include 'inks/alias.html' %}
                    {% endfor %}
                </dd>
                <dt>REHANCE Grade</dt>
                <dd>{{ form.rehancegrade }}</dd>
                <dt>Save Ink</dt>
                <dd>{{ form.saveink }}</dd>
                <dt>Date Created</dt>
                <dd>{{ form.datecreated }}</dd>
            </dl>
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
        </fieldset>
        
        <fieldset>
            <legend>Ingredients <input type='button' onClick='addingredient();' value='+'/></legend>
            <div id='ingredients'>
                {% for ingredientform in ingredientforms %}
                    {% include 'inks/ingredient.html' %}
                {% endfor %}
            </div>
        </fieldset>
        
        <fieldset>
            <legend>Notes</legend>
            {{ form.note }}
            <div>
                note test: <br/>
                {% autoescape off %}
                    {{ form.note.value }}
                {% endautoescape %}
            </div>
        </fieldset>

    <input type='submit' value='submit'/>
    </form>
{% endblock %}

{% block sidebar %}

{% endblock %}
