<!DOCTYPE html>

<html>
    <head>

        <meta http-equiv="Content-Script-Type" content="application/javascript">

        <script type="application/javascript" src="/static/common/js/jquery-1.6.2.min.js"></script>
        <script type="application/javascript" src="/static/common/js/jquery-ui-1.8.16.custom.min.js"></script>
        <script type="application/javascript" src="/static/common/js/functions.js"></script>
        <script type="application/javascript" src="/static/common/js/jquery.tools.min.js"></script>
        <script type="application/javascript" src="/static/common/js/autoresize.jquery.js"></script>
        <script type="application/javascript" src="/static/common/js/jquery.cookie.js"></script>
        <script type="application/javascript" src="/static/common/js/jquery.cleditor.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="/static/common/css/jquery-ui-1.8.16.custom.css">
        <link rel="stylesheet" type="text/css" href="/static/common/css/jquery.cleditor.css">
        <link rel="stylesheet" type="text/css" href="/static/common/css/style.css">

        {% block extrahead %}{% endblock %}

    </head>
    <body>
        <div class='content'>
            {% block content %}{% endblock %}
        </div>
        <div class='sidebar'>
            {% block sidebar %}{% endblock %}
        </div>
        <div class='menubar'>
        
        </div>
        <div class='footerbar'>
            {% block footerbar %}{% endblock %}
        </div>
    </body>
</html>
