{% extends "base.html" %}

{% block extrahead %}{{ block.super }}
    <script type='application/javascript'>    
        function addgroup(){
            var prefix = parseInt($('#id_groupcount').val()) + 1;
            $.get('/tsd/orders/addgroup/', {'orderid':'1', 'prefix':prefix}, function(data){
                $('#groups').append(data);
                $('#id_groupcount').val(prefix);
            });
        }
        
        function addstyle(groupprefix){
            var styleprefix = parseInt($('#id_' + groupprefix + '-stylecount').val()) + 1;
            $.get('/tsd/orders/addstyle/', {'styleid':'1', 'groupprefix':groupprefix, 'styleprefix':styleprefix}, function(data){
                $('#styles' + groupprefix).append(data);
                $('#id_' + groupprefix + '-stylecount').val(styleprefix);
            });
        }
    </script>
    
    <style type='text/css'>
        .group{
            border: 1px solid black;
        }
    </style>
{% endblock %}

{% block body %}
    <form method="post" action="">
    {% csrf_token %}
        <p>Customer: {{ form.customer }}</p>
        <p>Job Name: {{ form.name }}</p>
        <div id='groups'><input type='button' onClick='addgroup()' value='new group'/>
            {% include 'orders/group.html' %}
        </div>
        <p>{{ form.groupcount }}Note: {{ form.note }}</p>
    <input type='submit' value='submit'/>
    </form>
{% endblock %}
