{% extends "base.html" %}

{% block extrahead %}{{ block.super }}
    <script type='application/javascript'>
        $(function(){
            $('.specify').each(function(){
                if(this.checked){
                    $(this).change()
                }
            });
        });
        
        function addgroup(){
            var groupprefix = parseInt($('#id_groupcount').val()) + 1;
            $.get('/tsd/orders/addgroup/', {'orderid':'1', 'prefix':groupprefix}, function(data){
                $('#groups').append(data);
                $('#id_groupcount').val(groupprefix);
                $('.grouplist').append(new Option('new group', 'g'+groupprefix));
            });
        }
        
        function addstyle(groupprefix){
            var styleprefix = parseInt($('#id_stylecount').val()) + 1;
            var sizeprefix = parseInt($('#id_sizecount').val()) + 1;
            $.get('/tsd/orders/addstyle/', {'styleid':'1', 'groupprefix':groupprefix, 'styleprefix':styleprefix, 'sizeprefix':sizeprefix}, function(data){
                $('#styles' + groupprefix).append(data);
                $('#id_stylecount').val(styleprefix);
                var newsizecount = sizeprefix - 1 + parseInt($('#s' + styleprefix + 'sizecount').html());
                $('#id_sizecount').val(newsizecount);
            });
        }
        
        function addimprint(){
            var prefix = parseInt($('#id_imprintcount').val()) + 1;
            $.get('/tsd/orders/addimprint/', {'prefix':prefix, 'customerid':$('#id_customer').val()}, function(data){
                $('#imprints').append(data);
                $('#id_imprintcount').val(prefix);
            });
        }
        
        function addsetup(parentprefix){
            var prefix = parseInt($('#id_setupcount').val()) + 1;
            $.get('/tsd/orders/addsetup/', {'prefix':prefix, 'parentprefix':parentprefix}, function(data){
                $('#' + parentprefix + 'setups').append(data);
                $('#id_setupcount').val(prefix);
                $('.group').each(function(index){
                    $('#id_gs' + prefix + '-groupprefix').append(new Option($('#id_' + this.id + '-name').val(), this.id));
                });
            });
        }
        
        function changegroupname(prefix, value){
            $(".grouplist option[value='" + prefix + "']").html(value);
        }
        
        function togglesetups(prefix){
            $('#' + prefix + 'setups').toggle();
        }
        
        function deletegroup(prefix){
            deleteitem(prefix)
            $(".grouplist[value!='" + prefix + "'] option[value='" + prefix + "']").remove();
        }
        
        function deleteitem(prefix){
            $('#id_' + prefix + '-delete').val('1');
            $('.' + prefix).hide();
        }
    </script>
    
    <style type='text/css'>
        .group{
            border: 1px solid black;
        }
        .styledelete{
            display:none;
        }
        .hidden{
            display:none;
        }
    </style>
{% endblock %}

{% block body %}
    <form method="post" action="">
    {% csrf_token %}
        {{ form.errors }}
        <p>Customer: {{ form.customer }}</p>
        <p>Job Name: {{ form.name }}</p>
        <input type='button' onClick='addimprint()' value='new print'/>
        <table id='imprints'>
            <tr>
                <td>Location</td>
                <td># of Colors</td>
                <td>Name</td>
                <td>Print</td>
                <td>Specify</td>
            </tr>
            {% include 'orders/imprint.html' %}
        </table>
        <div id='groups'><input type='button' onClick='addgroup()' value='new group'/>
            {% include 'orders/group.html' %}
        </div>
        <p>{{ form.groupcount }}{{ form.stylecount }}{{ form.sizecount }}{{ form.imprintcount }}{{ form.setupcount }}{{ form.pk }}{{ form.delete }}
        Note: {{ form.note }}</p>
    <input type='submit' value='submit'/>
    </form>
{% endblock %}
