<div id='{{ groupimprintdic.form.prefix }}' class='groupimprint alignleft group{{ groupimprintdic.form.groupprefix.value }}'>
    <div class='inlineblock'>{{ groupimprintdic.form.exists }}</div>
    <div class='inlineblock'>{{ groupimprintdic.form.groupprefix }}Group <span class='groupname'>{{ groupimprintdic.groupname }}</span></div>
    <div class='inlineblock'>{{ groupimprintdic.form.setup }}{{ groupimprintdic.form.parentprefix }}{{ groupimprintdic.form.errors }}{{ groupimprintdic.form.pk }}</div>
</div>
<div class='clear'></div>
