{% for groupdic in groupdics %}
    <fieldset id='{{ groupdic.form.prefix }}' class='group {{ groupdic.form.prefix }} clear'>
        <legend>Group {{ groupdic.form.name }}{{ groupdic.form.pk }}{{ groupdic.form.errors }} <input type='button' onClick="displaystyles('{{ groupdic.form.prefix }}')" value='+'/> <input type='button' onClick="deletegroup('{{ groupdic.form.prefix }}')" value='X'/></legend>
        <div id='styles{{ groupdic.form.prefix }}' class='stylecontainer'>
            {% for styledic in styledics %}
                {% if groupdic.form.prefix == styledic.parentprefix or not groupdic.form.prefix %}
                    {% include 'orders/style.html' %}
                {% endif %}
            {% endfor %}
        </div>{{ groupdic.form.delete }}
    </fieldset>
{% endfor %}
