{% for groupdic in groupdics %}
    <div id='{{ groupdic.form.prefix }}' class='group'>
        <p>Group {{ groupdic.form.name }}{{ groupdic.form.pk }}{{ groupdic.form.errors }} <input type='button' onClick="togglegroup('{{ groupdic.form.prefix }}')" value='remove group'/>
        <input type='button' onClick="addstyle('{{ groupdic.form.prefix }}')" value='newstyle'/></p>
        <div id='styles{{ groupdic.form.prefix }}'>
            {% include 'orders/style.html' %}
        </div>
        <p>{{ groupdic.form.note }}{{ groupdic.form.delete }}</p>
    </div>
{% endfor %}
