{% for groupservicedic in groupservicedics %}
    {% if servicedic.form.prefix == groupservicedic.parentprefix or not servicedic.form.prefix %}
        <div class='{{ groupservicedic.form.prefix }}'>
            <div class='left'>{{ groupservicedic.form.exists }}</div>
            <div class='left'>{{ groupservicedic.form.groupprefix }}Group {{ groupservicedic.groupname }}{{ groupservicedic.form.parentprefix }}{{ groupservicedic.form.errors }}{{ groupservicedic.form.pk }}</div>
        </div>
        <div class='clear'></div>
    {% endif %}
{% endfor %}
