<div class='groupimprint alignleft'>
    <div class='inlineblock'>{{ groupimprintdic.form.exists }}</div>
    <div class='inlineblock'>{{ groupimprintdic.form.groupprefix }}Group <span id='{{ groupimprintdic.form.prefix }}groupname' class='group{{ groupimprintdic.form.groupprefix.value }}name'>{{ groupimprintdic.groupname }}</span></div>
    <div class='inlineblock'>{{ groupimprintdic.form.setup }}{{ groupimprintdic.form.parentprefix }}{{ groupimprintdic.form.errors }}{{ groupimprintdic.form.pk }}</div>
</div>
<div class='clear'></div>
