{% for imprintform in imprintforms %}
    <tr id='{{ imprintform.prefix }}imprint' class='dropimprint {{ imprintform.prefix }}' data-imprintprefix='{{ imprintform.prefix }}'>
        <td>{{ imprintform.location }}{{ imprintform.errors }}</td>
        <td>{{ imprintform.colorcount }}</td>
        <td>{{ imprintform.name }}</td>
        <td><div id='{{ imprintform.prefix }}imprintname' class='inputmimic'>{{ imprintform.imprintname.value }}</div></td>
        <td><div id='{{ imprintform.prefix }}setupname' class='inputmimic'>{{ imprintform.setupname.value }}</div></td>
        <td>{{ imprintform.specify }}{% for field in imprintform.hidden_fields %}{{ field }}{% endfor %}</td>
        <td><input type='button' class='delete' onClick="deleteitem('{{ imprintform.prefix }}')"/></td>
    </tr>
    <tr class='{{ imprintform.prefix }}'>
        <td colspan='6'>
            <fieldset id='{{ imprintform.prefix }}groups' class='hidden imprintgrouplist' data-imprint='{{ imprintform.prefix }}'>
                <legend>Groups</legend>
                {% for groupimprintform in groupimprintforms %}
                    {% if imprintform.prefix == groupimprintform.parentprefix.value %}                
                        {% include 'orders/groupimprint.html' %}
                    {% endif %}
                {% endfor %}
            </fieldset>
        </td>
    </tr>
{% endfor %}
