{% for imprintdic in imprintdics %}
    <tr class='{{ imprintdic.form.prefix }}'>
        <td>{{ imprintdic.form.location }}{{ imprintdic.form.errors }}</td>
        <td>{{ imprintdic.form.colorcount }}</td>
        <td>{{ imprintdic.form.name }}</td>
        <td>{{ imprintdic.form.imprint }}</td>
        <td>{{ imprintdic.form.setup }}</td>
        <td>{{ imprintdic.form.specify }}{{ imprintdic.form.pk }}</td>
        <td><input type='button' value='X' onClick="deleteitem('{{ imprintdic.form.prefix }}')"/>{{ imprintdic.form.delete }}</td>
    </tr>
    <tr class='{{ imprintdic.form.prefix }}'>
        <td colspan='6'>
            <fieldset id='{{ imprintdic.form.prefix }}setups' class='hidden grouplist' data-imprint='{{ imprintdic.form.prefix }}'>
                <legend>Groups</legend>
                {% include 'orders/setup.html' %}
            </fieldset>
        </td>
    </tr>
{% endfor %}
