{% for imprintdic in imprintdics %}
    <tr>
        <td>{{ imprintdic.form.location }}{{ imprintdic.form.errors }}</td>
        <td>{{ imprintdic.form.colorcount }}</td>
        <td>{{ imprintdic.form.name }}</td>
        <td>{{ imprintdic.form.imprint }}</td>
        <td>{{ imprintdic.form.specify }}{{ imprintdic.form.pk }}{{ imprintdic.form.delete }} {{imprintdic.specify}}</td>
    </tr>
    <tr>
        <td></td>
        <td colspan='4'>
            <table id='{{ imprintdic.form.prefix }}setups' class='hidden'>
                <tr>
                    <th>Groups <input type='button' value='+' onClick="addsetup('{{ imprintdic.form.prefix }}')"/></th>
                </tr>
                {% include 'orders/setup.html' %}
            </table>
        </td>
    </tr>
{% endfor %}
