{% for servicedic in servicedics %}
    <tr class='{{ servicedic.form.prefix }}'>
        <td class='textleft'>{{ servicedic.form.service }}{{ servicedic.form.errors }}{{ servicedic.label }}</td>
        <td>{{ servicedic.form.quantity }}</td>
        <td>{{ servicedic.form.note }}</td>
        <td>{{ servicedic.form.specify }}{{ servicedic.form.pk }}</td>
        <td><input type='button' class='delete' onClick="deleteitem('{{ servicedic.form.prefix }}')"/>{{ servicedic.form.delete }}</td>
    </tr>
    <tr class='{{ servicedic.form.prefix }}'>
        <td colspan='6'>
            <fieldset id='{{ servicedic.form.prefix }}groups' class='hidden grouplist' data-imprint='{{ servicedic.form.prefix }}'>
                <legend>Groups</legend>
                {% include 'orders/groupservice.html' %}
            </fieldset>
        </td>
    </tr>
{% endfor %}
