<div id='style{{ styleform.prefix }}' class='style {{ styleform.prefix }} clear', data-prefix='{{ styleform.prefix }}'>
    <div class='handle move'></div>
    <div class='handlespacer'></div>
    <div class='stylelabel'>{{ styleform.label.value }}</div>
    <div class='singleline'>
        <div class='stylecolor' onClick="opencolors('{{ styleform.style.value }}', '{{ styleform.prefix }}')">{{ styleform.colorlabel }}</div>
        {% for sizeform in sizeforms %}
            {% if styleform.prefix == sizeform.parentprefix.value %}
                <div class='stylesize'>{% for field in sizeform.hidden_fields %}{{ field }}{% endfor %}{{ sizeform.quantity }}{{ sizeform.parentprefix }}{{ sizeform.label.value }}</div>
            {% endif %}
        {% endfor %}
        <div class='inlineblock'>{{ styleform.quantity.value }}</div>
        <div class='styledelete'><input type='button' class='delete' onClick="deleteitem('{{ styleform.prefix }}')"/><span id='{{ styleform.prefix }}sizecount' class='hidden'>{{ sizecount }}</span></div>
    </div>{% for field in styleform.hidden_fields %}{{ field }}{% endfor %}
</div>
