{% for groupdic in groupdics %}
    {% for styledic in groupdic.styledics %}
        <div id='style{{ styleform.prefix }}'>
            <table>
                <tr>
                    <th>Style</th>
                    <th>Color</th>
                    {% for sizedic in styledic.sizedics %}
                        <th>{{ sizedic.label }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ styledic.label }}{{ styledic.form.style }}{{ styledic.form.group }}</td>
                    <td>{{ styledic.form.color }}</td>
                    {% for sizedic in styledic.sizedics %}
                        <td>{{ sizedic.form.orderstyle }}{{ sizedic.form.quantity }}</td>
                    {% endfor %}
                </tr>
            </table>
            {{ styledic.form.sizecount }}
        </div>
    {% endfor %}
{% endfor %}
